.pipeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0a0a0a;
    height: 780px;
    margin-top: 25px;
}
.heading{
    color: #E1EFFF;
    margin-bottom: 90px;
    margin-top: 0px;
    font-size: 35px;
}
.pipeline-body{
    color: #E1EFFF;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100px';
    font-weight: 600;
    background-color: #E1EFFF;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 14%;
    padding-bottom: 14%;
    color: #0a0a0a;
    border: 1px solid #4E5B73;
    box-shadow: #9AA3BA 0px 4px 14px;

    border-radius: 44px;
    margin-bottom: 50px;
    margin-top:-25px;
    font-size: 32px;
}