.hero-flexbox{
    width: 100%;
    min-height: 90vh;
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.hero{
    background-color: #0A0A0A;
}
.hero-text{
    text-align: left;
    max-width: 800px;
    color: #E1EFFF;
}
.hero-media{
    display: block;
}
