body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .team-section {
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
    background-color: #0A0A0A;
    color: #E1EFFF;
  }
  
  .team-section h1 {
    font-size: 36px;
    margin-top: 35px;
  }
  .team-section h2{
    margin-top: 25px;
  }
  
  .team-section .team-description {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .founding-team{
    height: 570px;
    width: 464px;
  }
  
  .team-member {
    background-color: #E1EFFF;
    color: #0A0A0A;
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    border-radius: 55px;
    padding: 20px;
    height: 570px;
    width: 464px; 
    position: relative;
    overflow:hidden;
  
    transition: transform .3s ease-in-out, background-color .3s ease-in-out;
  }
  
  .team-image {
    width: 100%;
    height: auto;
  }
  
  .team-member .team-default-name {
    font-size: 42px;
  }

  .team-member .team-default-title{
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .team-member p {
    font-size: 16px;
  }
 /* Default content (name, title) */
.default-content {
    opacity: 1; /* Visible by default */
    transition: opacity .3s ease-in-out; /* Smooth transition for hiding */
}

/* Detailed content (bio, LinkedIn icon) */
.detailed-content {
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #0A0A0A;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out; /* Smooth transition for showing */
}

/* Hover effect to hide default content and show detailed content */
.team-member:hover .default-content {
    opacity: 0; /* Hide default content on hover */
}

.team-member:hover .detailed-content {
    opacity: 1; /* Show detailed content on hover */
    visibility: visible;
}

.linkedin-icon img {
    width: 30px; /* Size of LinkedIn icon */
}

  @media (max-width: 768px) {
    .team-member {
      width: calc(100% - 40px); /* Make team members full-width on smaller screens */
    }
 }