.footer-black {
    background-color: #0A0A0A;
    padding: 20px;
    text-align: center;
    border-top: 2px solid;
  }
  
  .footer-content-black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-black-copyright {
    display: flex;
    color: #E1EFFF;
    padding-right: 0;
  }
  
  .social-links-black {
    display: flex;
    gap: 10px;
    margin-left: 200px;
    margin-right: 299px;
  }
  
  .icon-black {
    font-size: 20px;
    color: #E1EFFF;
  }
  
  .footer-links-black {
    display: flex;
    gap: 15px;
  }
  
  .footer-link-black {
    color: #E1EFFF;
    text-decoration: none;
  }
  
  .footer-link-black:hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 976px) {
    .footer-content-black {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 20px;
  }

  .footer-black-copyright {
      order: 3;
      width: 100%;
      text-align: center;
      justify-content: center;
  }

  .social-links-black {
      order: 1;
      margin: 0;
      width: 100%;
      justify-content: center;
  }

  .footer-links-black {
      order: 2;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
  }
}
