.science {
    padding: 5%;
    background-color: var(--bg);
    color: var(--text);
    text-align: center;
    display: block;
    justify-content: center;
    padding-top: 100px;
  }
  
  .science-heading {
    text-align: center;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    justify-content: center;
  }
  
  .science-heading h1 {
    font-size: 2.5em;
    color: var(--text);
    padding-top: 50px;
    margin-bottom: 10px;
  }
  
  .science-heading p {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.4em;
    color: var(--text);
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .science-body {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .section-one, .section-two, .section-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    /* box-shadow: 0px 4px 10px rgba(0,0,0,0.1); */
  }
  
  .science-content {
     flex-basis: 45%; 
  }
  .body-one{
    text-align: left;
  }
  .body-two{
    text-align: left;
    padding-left: 45px;
  }
  .body-three{
    text-align: left;
  }
  .science-content h2 {
    font-size: 2em;
    color: var(--text);
  }
  
  .science-content p {
    font-size: 1.4em;
    color: var(--text);
  }
  .science-descriptions{
    line-height: 32px;
    font-weight: 400;
    margin: 0;
  }
  
  .science-shapes {
    flex-basis: 60%;
    border-radius: 44px;
    /* border: 3px solid #4E5B73; */
  }
  /* .science-shapes{
    box-shadow: #9AA3BA 0px 6px 18px;
    border: 1px solid #9AA3BA;
  } */
  
  .science-shapes img {
    margin-top: 2px;
    box-shadow: #9AA3BA 0px 8px 18px;
    border: 3px solid #cfd4df;
    width: 100%;
    height: auto;
    border-radius: 44px;
  }
  
  @media (max-width: 768px) {
    
      .science-body {
          gap: 20px;
      }
  
      .section-one, .section-two, .section-three {
          flex-direction: column;
          text-align: center;
      }
  
      .content, .science-shapes {
          flex-basis: auto;
      }
  
      .science-shapes img {
          margin-top: 20px;
      }
  }