* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.News-main{
    background-color: #0A0A0A;
    height: 100%;
    padding-bottom: 40px;
}

.News-heading{
    padding-top: 85px;
    padding-bottom: 55px;
    text-align: center;
    font-size: 42px;
    color: #E1EFFF;
}

.cards-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: start;
}
.card {
  width: 360px;
  width: calc((100% - 8rem) / 3);
  min-height: 400px;
  box-shadow: 3px 3px 3px #373e44;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #E1EFFF;
}
.card:hover {
  box-shadow: 3px 3px 5px #434c53;
  background-color: #4E5B73;
  color: #E1EFFF;
  transform: translateY(-2px);
}
.card-header {
  width: 100%;
  height: 20px;
  text-align: center;
  font-weight: bold;
  object-fit: cover;
}
.card-content {
  padding: 20px;
}
.news-source {
  margin-block: 12px;
}
.news-title {
  font-weight: 600;
  color: #0A0A0A;
}
.news-desc {
  color: #0A0A0A;
  font-size: 18px;
  line-height: 1.4rem;
}

.custom-divider {
  border-top: #4E5B73 solid 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}